.scrollTop {
  position: fixed;
  height:50px;
  width:50px;
  bottom: 30px;
  right: 30px;
  background-color: #0e2a5c; // match your header or brand color
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scrollTop:hover {
  transform: translateY(-3px);
//   background-color: #5388e3;
color:#0e2a5c;
background: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .scrollTop {
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 18px;
  }
}
