// .sectionHeader {
//   text-align: center;        // center horizontally
//   max-width: 900px;          // controls width of text
//   margin: 0 auto 20px auto;  // center on page and spacing below
// //   padding: 0 20px;           // small horizontal padding for small screens
// padding-top: 60px;
// padding-bottom:0px;
//   h2 {
//     font-size: 40px;
//     line-height: 1.2;
//     font-weight: 700;
//     margin-bottom: 20px;
//     color: #0e2a5c;
//   }

//   p {
//     font-size: 17px;
//     line-height: 1.6;
//     color: #554a4a;
//     font-style: italic;
//   }

//   @media (max-width: 1024px) {
//     h2 {
//       font-size: 40px;
//     }
//     p {
//       font-size: 16px;
//     }
//   }

//   @media (max-width: 640px) {
//     h2 {
//       font-size: 32px;
//     }
//     p {
//       font-size: 14px;
//     }
//   }
// }
//.................

.sectionHeader {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 20px auto;
  margin-bottom: 0px;
  padding-top: 60px;

  h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0e2a5c;
    min-height: 50px; // prevents layout jump
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #554a4a;
    font-style: italic;
    opacity: 0;
    animation: fadeIn 0.6s ease forwards;
    animation-delay: 1.5s; // appears after typing
  }
}

/* Blinking cursor */
.cursor {
  // display: inline-block;
    display: none;
  margin-left: 2px;
  animation: blink 1s infinite;
  color: #0e2a5c;
}

/* Animations */
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media (max-width: 1024px) {
  .sectionHeader{
    padding-top: 50px;
  }
}

/* Responsive */
@media (max-width: 640px) {
  .sectionHeader{
    padding-top: 30px;
  }
  .sectionHeader h2 {
    font-size: 32px;
     
  }
  .sectionHeader p {
    font-size: 14px;
  }
}
